<app-page-template>
  <div class="other-fields">
    <p>Сформируйте платёжку и загрузите её в свой банк для подписи</p>
    <div>
      <label class="label" [for]="props.from.id">От кого</label>
      <app-field [props]="props.from"></app-field>
    </div>
    <div>
      <label title="Банковский идентификационный код" class="label" [for]="props.bik.id">БИК</label>
      <app-field [props]="props.bik"></app-field>
    </div>
    <div>
      <label class="label" [for]="props.account.id">Номер счёта</label>
      <app-field [props]="props.account"></app-field>
    </div>
    <div>
      <label *ngIf="nds === 1" title="Налог на добавленную стоимость" class="label" [for]="props.nds.id">НДС</label>
      <label *ngIf="nds === 2" title="Налог на добавленную стоимость" class="label" [for]="props.nds2.id">НДС</label>
      <label *ngIf="nds === 3" title="Налог на добавленную стоимость" class="label" [for]="props.nds3.id">НДС</label>
      <app-field *ngIf="nds === 1" [props]="props.nds"></app-field>
      <app-field *ngIf="nds === 2" [props]="props.nds2"></app-field>
      <app-field *ngIf="nds === 3" [props]="props.nds3"></app-field>
    </div>
    <div>
      <label class="label"></label>
      <p class="ndses">
        <a (click)="nds = 1" [class]="nds === 1 ? 'selected link' : 'link'">НДС 18%</a> &nbsp;
        <a (click)="nds = 2" [class]="nds === 2 ? 'selected link' : 'link'">НДС 10%</a> &nbsp;
        <a (click)="nds = 3" [class]="nds === 3 ? 'selected link' : 'link'">Без НДС</a> &nbsp;
      </p>
    </div>
    <div>
      <label class="label" [for]="props.amount.id">Сколько</label>
      <app-field [props]="props.amount"></app-field>
    </div>
    <p>
      <button (click)="onSubmit()" [title]="isFormValid ? '' : 'Форма заполнена неверно'" [class]="'rainbow-btn ' + (isFormValid ? '' : 'disabled')">
        Получить файл для интернет-банка
      </button>
    </p>
    <p><a class="link" href="#">Очистить форму</a></p>
  </div>
</app-page-template>