<div class="template">
  <header class="header">
    <div class="header-contacts">
      <h2 class="h2">{{ name }}</h2>
      <p>
        <a class="phone link" href="tel:+79221554807">+79221554807</a>
        <a class="link" href="https://mary.com">mary.com</a>
        <a class="link" href="mailto:mary@gmail.com">mary@gmail.com</a>
      </p>
      <p><a class="link" href="#">Информация о компании</a></p>
      <p>&nbsp;</p>
      <p><a class="link" href="#">Показать реквизиты</a></p>
    </div>
    <div class="header-photo">
      <img class="animal-logo" title="{{ name }}" alt="{{ name }}" width="300" src="/assets/bird.png">
    </div>
  </header>
  <app-menu></app-menu>
  <ng-content></ng-content>
  <footer class="footer">
    <h2 class="h2">О компании {{ name }}</h2>
    <div class="sites">
      <div *ngFor="let _ of [1,2,3]" class="site">
        <img class="site-img" title="Озеро таватуй))" alt="Клубника на улице Рамбла" src="/assets/italy.jpg">
        <div class="site-description">
          <p>Клубника на улице Рамбла</p>{{i}}
          <p class="price">139,99 руб.</p>
        </div>
      </div>
    </div>
    <div class="description">
      <p>
        Испа́ния (исп. и галис. España), официально Короле́вство Испа́ния (исп. и галис. Reino de España МФА
        [ˈreino ðe
        esˈpaɲa]) — суверенное государство на юго-западе Европы и частично в Африке, член Европейского союза и
        НАТО. Испания
        занимает бо́льшую часть (80 %) Пиренейского полуострова, а также Канарские и Балеарские острова...
      </p>
      <p><a class="link" href="#">Показать всё</a></p>
    </div>
    <div class="social-btns">
      <a href="#" class="social-btn social-tweet">Твитнуть</a>
      <a href="#" class="social-btn social-fb">Поделиться</a>
      <a href="#" class="social-btn social-google"></a>
      <a href="#" class="social-btn social-vk"></a>
      <a href="#" class="social-btn social-ok"></a>
      <a href="#" class="social-btn social-linkedin"></a>
      <a href="#" class="social-btn social-tg">Отправить</a>
    </div>
  </footer>
</div>